{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block nav %}{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Let Me Get That Data For You</h1>
        <p>Not sure what data is already provided on your website?  We can find out!</p>
        <p>Enter your website’s domain name: {% crispy form form.helper %}</p>
    </div>
</div>

<div class="container">
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
    <h2>Results from Other Sites</h2>
    <table class="table table-striped">
        <thead>
            <tr><th>Files Found</th><th>Site</th></tr>
        </thead>
        <tbody>
        {% for domain, count in table_data %}
            <tr>
                <td>
                    <a href="{% url 'domain_result' domain %}">{{ count }} files</a>
                </td>
                <td>
                    <a href="http://{{ domain }}" target="_blank">{{ domain }} <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="footer">
        <div class="container">
            <p class="muted">Created by <a href="https://usopendata.org/">U.S. Open Data</a>. <a href="https://github.com/opendata/lmgtdfy/">All code available on GitHub</a>. Powered by the <a href="https://datamarket.azure.com/dataset/bing/search">Bing Search API</a>.</p>
        </div>
    </div>
    
</div>
{% endblock %}
