{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Let Me Get That Data For You</h1>
        <p class="">Want to find out what data is available on your site?  Let's find out!</p>
        {% crispy form form.helper %}
    </div>
</div>

<div class="container">
    <h2>or browse results from other sites</h2>
    <table class="table table-striped">
        <tbody>
        <tr><th>Site</th><th>Files found</th></tr>
        {% for domain, count in table_data %}
            <tr>
                <td>
                    <a href="http://{{ domain }}" target="_blank">{{ domain }}<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                </td>
                <td>
                    <a href="{% url 'domain_result' domain %}">{{ count }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}